@charset "utf-8";

/* pop */
.pop_overlay{position:fixed;z-index:8000;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:800px;position:fixed;top:50%;left:50%;background-color:#fff;transform:translateX(-50%) translateY(-50%);}
.pop_body{margin:1px;padding:22px 20px;}
.pop_tit{display:flex;justify-content:space-between;padding:10px 15px;background-color:#005aab;}
.pop_tit h1{font-size:16px;font-weight:bold;color:#fff;}
.btn_pop_close{position:relative;top:1px;width:17px;height:17px;}
.btn_pop_close::before{content:'';display:block;width:100%;height:100%;background:url(../images/btn_pop_close.png);}
.pop_wrap .search.f_sb{justify-content:space-between;}
.pop_wrap .btn_wrap{padding-top:16px;}
.pop_wrap table{border:1px solid #d7d7d7;}
.pop_wrap th{width:20%;}
.pop_wrap .tbl_row th,
.pop_wrap .tbl_row td{height:25px;padding:3px;border:1px solid #d7d7d7;}
.pop_wrap table textarea{line-height:22px;}
.pop_wrap table label{font-weight:600;}
.tbl_info table,.tbl_info th,.tbl_info td{height:30px;padding:3px;background-color:transparent;border:1px solid transparent;}

.p_admin01_1 .pop_body,.p_fac01_1_2 .pop_body,.p_acc04_1_1 .pop_body,.p_acc03_2_2 .pop_body,.p_acc03_2_1 .pop_body{margin:0.5px;}
.p_fac01_1_1,.p_fac01_1_2,.p_acc04_1_1,.p.fac01_1_2{width:500px;}
.p_acc04_1_2,.p_admin01_1,.p_cmmn02_1_1,.p_cmmn02_1_2, .p_cmmn02_1_3{width:380px;}
.pop_cont .tit{border-bottom:1px solid #005aab;margin-bottom:10px;padding-bottom:5px;}
.pop_cont .tit h2{font-size:16px;font-weight:600;color:#005aab;}


/* 구조물상세자료 업로드(p_fac01-1-2) */
.fac_file #upFile{display:none;}
.fac_file .file_input{position:relative;display:block;width:450px;height:30px;margin:0 auto;border:1px solid #ccc;color:#000;background:url(../images/ico_upload.png) no-repeat 98%;background-size:3%;cursor:pointer;text-align:left;}
.fac_file label {position:absolute;top:0;left:0;z-index:1;display:block;width:100%;height:100%;cursor:pointer;}
.fac_file input[type = text]{position:absolute;top:2px;left:5px;z-index:0;width:100%;border:none;background:none;}

/* 관측자료 업로드 완료(p_acc04-1-2) */
.p_acc04_1_2 .upload_done{font-size:14px;text-align:center;padding-bottom:20px;}
.p_acc04_1_2 .upload_done::before{display:block;content:'\e6c6';font-family:'axicon';font-size:45px;color:#555;padding-bottom:10px;}

/* 내정보(p_cmmn02-1) */
.p_cmmn02_1_1 input[type = text]{padding:0;border:1px solid transparent;}
.pop_wrap #pw{padding-left:5px;color:#bbb;}
.pop_wrap #number,.pop_wrap #phonenumber{padding-left:25px;}
.pop_wrap .number,.pop_wrap .phonenumber{position:relative;}
.pop_wrap .number::before,.pop_wrap .phonenumber::before{position:absolute;top:45%;font-size:16px;font-family:'axicon';transform:translateY(-50%);color:#777;}
.pop_wrap .number::before,.pop_wrap .number::before{content:'\f095';left:10px;}
.pop_wrap .phonenumber::before,.pop_wrap .phonenumber::before{content:'\e865';left:7px;}
.pop_wrap table input[type = text],
.pop_wrap table input[type = date],
.pop_wrap table input[type = password],
.pop_wrap table select,
.pop_wrap table textarea{width:100%;}
.input_50 input{max-width:45%;}
.p_admin01_1 table th, .p_cmmn02_1_1 table th, .p_cmmn02_1_2 table th{width:30%;text-align:left;}
.p_cmmn02_1_3 table th{width:30%;}
.input_50{line-height:20px;}