/* login */
.login_wrap{position:relative;width:100%;height:100%;background:linear-gradient(to bottom, #f4f4f4 35%,#b4d6ed 50%,#a2cde8 51%,#f7f7f7 88%);}
.login_box{position:absolute;top:calc(50% - 200px);left:calc(50% - 275px);width:550px;height:400px;}
.tit_login{font-size:25px;font-weight:600;line-height:35px;letter-spacing: -0.06em;}
.tit_login img{margin-right:10px;}
.login{margin-top:15px;padding:35px;border:1px solid #aaa;border-top:3px solid #005aab;background-color:#fff; box-shadow:0 0 10px #dfdfdf;}
.login h2{font-size: 40px;}
.login .flex_wrap{padding:40px 0 20px; justify-content:space-between;}
.login ul{flex: 0 1 77%;}
.login li{margin-bottom:15px;}
.login button{width:100%;height:85px;border-radius:5px;flex: 0 1 19%;}
.login label{display:inline-block;width:20%;font-size:15px;}
.login input[type = text], .login input[type = password]{display:inline-block;width:78%;height:35px;line-height:35px;padding-left:10px;}
.login_check{margin-left:80px;}
.login_check input[type = checkbox]{position:relative;top:-2px;margin-right:10px;}
.login_check label{width:50%;}

/* acc */
.acc01 .f_sb .section_r{width:calc(100% - 681px);}
.acc02 .f_sb .section_l{width:calc(100% - 520px);}
.notice_wrap{border:1px solid #000;}
.notice_tit{border-bottom:1px solid #000;text-align:center;padding:13px 20px 10px 50px;background:url(../images/logo_kma.png) 15px 0 no-repeat;background-size:contain;}
.notice_tit h1{font-size:20px;word-spacing:1.5em;font-weight:bold;margin-bottom:6px;}
.notice_tit .notice_date{text-align:right;}
.notice_body{padding:15px 20px;}
.notice_body dl{display:flex;flex-wrap:wrap;}
.notice_body dt,
.notice_body dd{margin:5px 0;line-height:17px;}
.notice_body dt{width:80px; font-weight:bold;}
.notice_body dt:nth-of-type(2){word-spacing:1.6em;}
.notice_body dd{width:calc(100% - 80px);}
.notice_foot{padding:10px 15px;}
.notice_foot h2{margin-bottom:5px;}
.tbl_refer th,
.tbl_refer td{border:1px solid #000;padding:3px 5px;text-align:left;word-break:keep-all;}
.tbl_refer th{width:30px;text-align:center;}
.notice_foot p{margin-top:4px;}
.tbl_sta th{width:150px;}
.tbl_sta td{width:25%;}
.recorder_sensor{counter-reset:recorder;}
.recorder h4::after{counter-increment:recorder;content:"#"counter(recorder);margin-left:5px;}
.recorder .sensor{margin:10px 0 15px;}
.recorder:last-of-type .sensor{margin-bottom:0;}
.acc03 .btn_wrap,
.fac01 .btn_wrap{margin-bottom:5px;text-align:right;}
.tbl_event_dtl{position:relative;margin-top:58px;}
.tbl_event_dtl::after{position:absolute;top:-30px;left:50%;content:'\f107';display:block;font-family:'axicon';font-size:35px;color:#ccc;transform:translateX(-50%);}
[aria-describedby="jqGrid2_t5"]{padding-left:20px;}

/* fac */
.fac01-1 .f_sb .section_l{margin-top:27px;}
.fac01-1 .f_sb .section_r{width:calc(100% - 600px);}
.fac01-1 .section_r .article:last-child{margin-top:40px;}
textarea[name ="MCT_preview"]{width:100%;height:165px;font-size:13px;}

/* dam */
.dam01 .f_sb .section_l{width:calc(100% - 749px);}
.dam01 .section_l .tab{margin-top:26px;}
.ipt_facname{width:320px;}
.dam_count{margin-bottom:5px;}
.dam_count li{position:relative;width:118px;height:38px;font-size:13px;color:#fff;font-weight:600;line-height:38px;border-radius:3px;margin-left:10px;text-align:center;padding-right:55px;letter-spacing:-.1em;}
.dam_count li:nth-child(1){background-color:#024684;margin-left:0;}
.dam_count li:nth-child(2){background-color:#58a505;}
.dam_count li:nth-child(3){background-color:#facd1a;}
.dam_count li:nth-child(4){background-color:#fa6e1a;}
.dam_count li:nth-child(5){background-color:#f00}
.dam_count li span{position:absolute;top:50%;right:6px;width:50px;line-height:24px;background-color:#fff;border-radius:12px;text-align:center;color:#777;transform:translateY(-50%);}
.dam01 .tbl_wrap .i_status,
.dam02 .tbl_wrap .i_status{display:inline-block;width:70px;text-align:left;}
.dam02 .f_sb .section_r{width:calc(100% - 681px);}
.tbl_sta th{width:150px;}
.tbl_sta td{width:25%;}
.recorder_sensor{counter-reset:recorder;}
.recorder h4::after{counter-increment:recorder;content:"#"counter(recorder);margin-left:5px;}
.recorder .sensor{margin:10px 0 15px;}
.recorder:last-of-type .sensor{margin-bottom:0;}
.tbl_tag_evt::before{position: relative;top:2px;display:inline-block;content:'';width:14px;height:14px;background:url(../images/ico_legend.png);position:relative;top:1px;margin-right:4px;}
.tbl_tag_evt.evt1::before{background-position:0 106px;}
.tbl_tag_evt.evt2::before{background-position:0 83px;}
.tbl_tag_evt.evt3::before{background-position:0 60px;}
.tbl_tag_evt.evt4::before{background-position:0 37px;}

.tbl_evt{position:relative;width:118px;margin-right:10px;padding:12px 60px 12px 5px;border-radius:3px;font-size:13px;color:#fff;text-align:center}
.tbl_evt b{position:absolute;top:calc(50% - 12.5px);right:5px;width:55px;line-height:25px;margin-left:3px;border-radius:12.5px;background-color:#fff;color:#777}
.tbl_evt.evt1{background-color:#024684;}
.tbl_evt.evt2{background-color:#58a505;}
.tbl_evt.evt3{background-color:#facd1a;}
.tbl_evt.evt4{background-color:#fa6e1a;}
.tbl_evt.evt5{background-color:#ff0000;}

/* admin */
.admin02 .text_orange{color:#e0752e;}
.admin02 .search{justify-content:space-between;}
.admin02 .search ul{width:100%;}
.tbl_manual{line-height:32px;table-layout:fixed;}
.tbl_manual thead{border-top:2px solid #000;border-bottom:1px solid #000;}
.tbl_manual tbody tr{border-bottom:1px solid #e8e8e8;}
.tbl_manual th{font-weight:bold;}
.tbl_manual th:first-child, .tbl_manual th:last-child{width:7%;}
.tbl_manual th:nth-child(3){width:13%;}
.tbl_manual th:nth-child(4),.tbl_manual th:nth-child(5){width:10%;}
.tbl_manual td:nth-child(2){text-align:left;}
.tbl_manual tbody tr:hover{background-color:#e9f4fb;}
.tbl_manual td:nth-child(2){text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.manual_sort a{font-size:13px;}
.manual_sort a.on{font-weight:bold;}
.manual_sort>li::after{position:relative;top:1px;content:'';display:inline-block;width:1px;height:12px;margin-left:10px;background-color:#000;}
.manual_sort>li:last-child::after{display:none;}
.manual_box{margin:5px 0;padding:0 0 15px;border-top:2px solid #000;border-bottom:2px solid #000;font-size:13px;}
.tit_manual{display:block;padding:15px 10px 15px 10px;border-bottom:1px solid #000;}
.tit_manual h3{font-size:15px;font-weight:bold;}
.tit_manual select{width:auto;margin-right:5px;}
.tit_manual input{width:100%;font-size:13px;}
.manual_etc{padding:10px 0;}
.manual_etc>li{display:inline-block;color:#7b7b7b;}
.manual_etc>li::after{position:relative;top:1px;content:'';display:inline-block;width:1px;height:12px;margin:0 5px; background-color: #7b7b7b;}
.manual_etc>li:last-child::after{display:none;}
.manual_body{padding:30px 0;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.manual_body p{padding-left:10px;font-size:13px;line-height:24px;}
.manual_body textarea{width:100%;min-height:300px;}
.manual_attach h3{padding:10px 0;font-size:13px;}
.upload-btn{padding:1px 5px 3px 3px;border:1px solid #ccc;border-radius:3px;font-size:13px;cursor:pointer;}
.manual_attach #dropZone{padding:10px 0 10px 10px;background-color:#e8e8e8;text-align:left;}
.manual_attach li{line-height:35px;}
.manual_attach h3::before,.upload-btn::before{position:relative;top:2px;content:'';display:inline-block;width:15px;height:16px;margin-right:5px;background:url(../images/ico_addfile.gif);background-size:cover;}
.manual_attach span{margin:0 5px;color:#aaaaaa;}
.manual_attach .btn_file{position:relative;top:3px;}
.admin02_write .manual_body,.admin02_write .tit_manual{padding:10px 0;}
.btn_delfile{position:relative;top:3px;display:inline-block;width:14px;height:14px;background:url(../images/ico_pop_close_red.png)no-repeat center center;background-size:80%;}
.upload-btn-wrapper{position:relative;padding:10px 0;}
.upload-btn-wrapper input[type=file]{position:absolute;left:0;top:10px;opacity:0;width:80px;height:25px;cursor:pointer;}
#fileDragDesc{text-align:center}
.wrap .admin02_write{max-height:1000%;}

/* pop_sub */
/* 구조물상세자료 업로드(p_fac01-1-2) */
.fac_file #upFile{display:none;}
.fac_file .file_input{position:relative;display:block;width:450px;height:30px;margin:0 auto;border:1px solid #ccc;color:#000;background:url(../images/ico_upload.png) no-repeat 98%;background-size:3%;cursor:pointer;text-align:left;}
.fac_file label {position:absolute;top:0;left:0;z-index:1;display:block;width:100%;height:100%;cursor:pointer;}
.fac_file input[type = text]{position:absolute;top:2px;left:5px;z-index:0;width:100%;border:none;background:none;}

/* 관측자료 업로드 완료(p_acc04-1-2) */
.upload_done{font-size:14px;text-align:center;padding-bottom:20px;}
.upload_done::before{display:block;content:'\e6c6';font-family:'axicon';font-size:45px;color:#555;padding-bottom:10px;}

/* 내정보(p_cmmn02-1) */
.p_cmmn02-1-1 input[type = text]{padding:0;border:1px solid transparent;}
#info_pw{padding-left:5px;color:#bbb;}
#info_number, #info_phonenumber{padding-left:25px;}
.info_number, .info_phonenumber{position:relative;}
.info_number::before, .info_phonenumber::before{position:absolute;top:45%;font-size:16px;font-family:'axicon';transform:translateY(-50%);color:#777;}
.info_number::before{content:'\f095';left:10px;}
.info_phonenumber::before{content:'\e865';left:7px;}
.pop_wrap table input[type = text],
.pop_wrap table input[type = date],
.pop_wrap table input[type = password],
.pop_wrap table select,
.pop_wrap table textarea{width:100%;}
.input_50 input{max-width:45%;}
.p_admin01-1 table th, .p_cmmn02-1-1 table th, .p_cmmn02-1-2 table th{width:30%;text-align:left;}
.p_cmmn02-1-3 table th{width:30%;}